name: Deploy to CloudFlare

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - name: Checkout
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

      - name: Deploy to Cloudflare Workers
        uses: cloudflare/wrangler-action@707f63750981584eb6abc365a50d441516fb04b8
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          secrets: |
            DESTINATION_EMAIL
            DIRECT_EMAIL_USERS
        env:
          DESTINATION_EMAIL: ${{ secrets.DESTINATION_EMAIL }}
          DIRECT_EMAIL_USERS: ${{ secrets.DIRECT_EMAIL_USERS }}
